/*
bg: #302423
text: #808080
*/

::-webkit-scrollbar {
	display: none;
}

.side {
	display: none;
}

body,
.content {
	background-color: #302423!important;
	color: #808080!important;
}

body,
.content,
.spacer,
body>.content,
.commentarea {
	margin: 0!important;
	padding: 0!important;
}

.sitetable {
	margin-top: 3em;
	padding-right: 0!important;
}

#header-bottom-left .tabmenu {
	width: fit-content!important;
	vertical-align: sub!important;
}

.thing,
.linklisting .odd,
.linklisting .odd,
.stickied.link,
#ad-frame,
#ad_main,
#ad_main_top.ad300x250,
#images,
#previoussearch #moresearchinfo,
.account-activity-box,
.commentarea,
.commentarea>.sitetable>.comment,
.commentarea>.usertext,
.comments-page .link,
.comments-page .side .linkinfo,
.linefield,
.login-form-side,
.side .sidecontentbox,
.side .titlebox,
.sponsorshipbox,
.stylesheet-customize-container .pretty-form,
.submit-link .morelink::before,
.submit-page .roundfield,
.wiki-page .wiki-page-content,
[lang^=ns-] .listing-page .content .sitetable::after,
[lang^=ns-] .side .md>table::after,
[lang^=ow-] .listing-page .content .sitetable::after,
[lang^=ow-] .side .md>table::after,
html .comment .child .comment,
.commentarea .comment .comment,
.commentarea .comment .comment .comment,
.commentarea .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .thing.noncollapsed,
.res .commentarea .thing.noncollapsed,
html.res-commentBoxes.res-commentBoxes-rounded .comment.noncollapsed {
	background-color: #0e0100!important;
	padding: 0!important;
	margin-top: 0.5em!important;
	margin-bottom: 0.5em!important;
	margin-left: 0!important;
	margin-right: 0!important;
	border: 0px!important;
	border-radius: 0px!important;
}

#header-bottom-left .tabmenu,
#header-bottom-right {
	background-color: #0e0100!important;
	color: #812100!important;
	border: 0px!important;
	margin: 0!important;
}

#header {
	background-color: #0e0100!important;
	color: #812100!important;
	margin: 0!important;
	padding: 0!important;
	border: 0px!important;
	border-radius: 0px!important;
}

#header::before,
#sr-header-area {
	background-color: #0e0100!important;
	color: #812100!important;
	border: 0px!important;
}

#header-img {
	display: none!important;
}

li,
a,
a.choice,
.entry .flat-list li a,
.tagline a,
.search-result-meta a,
#sr-more-link,
.tabmenu li a,
.entry .flat-list .redditSingleClick,
.tagline a,
.search-result-meta a,
#sr-more-link,
.tabmenu li a,
.rank,
.entry .flat-list .redditSingleClick:visited,
.entry .flat-list li a:visited,
.thing .title:visited,
.link .score {
	background-color: transparent!important;
	color: #6d6d6d!important;
	border: 0px!important;
	text-decoration: none!important;
}

li:hover,
a:hover,
a.choice:hover,
.entry .flat-list li a:hover,
.tagline a:hover,
.search-result-meta a:hover,
#sr-more-link:hover,
.tabmenu li a:hover,
.entry .flat-list .redditSingleClick:hover,
.tagline a:hover,
.search-result-meta a:hover,
#sr-more-link:hover,
.tabmenu li a:hover,
body .content .sitetable .link .title a:hover,
.link .entry .tagline a:hover,
body .content .sitetable .link .title a:hover,
.link .score.likes,
.link .score.dislikes {
	background-color: transparent!important;
	color: #812100!important;
	border: 0px!important;
	text-decoration: none!important;
}

.link .flat-list,
p.tagline {
	display: inline!important;
}

.stamp {
	vertical-align: super!important;
}

.thumbnail-div {
	text-align: center;
}

.link .flat-list {
	vertical-align: text-top!important;
}

.rank {
	font-size: 20px!important;
	margin-top: 14px!important;
}

.md,
.comment .usertext .md,
p,
.tagline .stickied-tagline,
.search-result-meta .stickied-tagline,
.dropdown.srdrop .selected,
.spoiler-stamp {
	color: #808080!important;
}

.link .usertext-body .md {
	background-color: #0e0100!important;
	color: #808080!important;
	border: none!important;
	margin: 0!important;
	padding: 0!important;
}

.thing .title,
.flair {
	color: #812100;
}

.buttons .comments.empty {
	animation: none;
}

.c-close,
.post-sharing-label,
#sr-more-link {
	display: none!important;
}

.post-sharing {
	border: none !important;
}

.drop-choices {
	background-color: #302423!important;
}

@-webkit-keyframes autofill {
	to {
		color: #812100;
		background: transparent;
	}
}


/*
.form-control.login:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

.form-control.login,
.form-control.login:focus {
	text-align: center!important;
	background-color: transparent!important;
	color: #808080!important;
	border: none !important;
	box-shadow: none!important;
}
*/

.btn-login {
	color: #812100!important;
	background-color: transparent!important;
	border-color: #812100!important;
}

.btn-login:hover {
	color: #0e0100!important;
	background-color: transparent!important;
	border-color: #0e0100!important;
}

::placeholder {
	color: #812100!important;
}

.post-sharing,
.subreddit .usertext .md {
	background-color: #0e0100!important;
	color: #808080!important;
}

.arrow {
	display: block!important;
}

.arrow.up,
.arrow.down {
	background-image: none!important;
	background-color: transparent!important;
	color: #6d6d6d!important;
	border: 0px!important;
}

.arrow.up:hover,
.arrow.upmod,
.arrow.down:hover,
.arrow.downmod {
	background-image: none!important;
	background-color: transparent!important;
	color: #812100!important;
	border: 0px!important;
}

.arrow.up::after,
.arrow.upmod::after {
	content: 'keyboard_arrow_up'!important;
	position: relative;
	top: -4px;
	left: -5px;
}

.arrow.down::after,
.arrow.downmod::after {
	content: 'keyboard_arrow_down'!important;
	position: relative;
	top: -4px;
	left: -5px;
}

body>.content>.spacer:nth-of-type(1) {
	display: block!important;
}

.entry::before {
	display: none;
}

.thumbnail {
	margin: 0!important;
	padding: 0!important;
}

.hidepost-button,
.report-button {
	display: none!important;
}

.title-div {
	padding-top: 6px;
}

iframe {
	border: none;
	width: 100%;
	height: 80vh;
}

.md-8 {
	font-size: 16px!important;
}

.modal.fade .modal-dialog {
	transform: translate(0, 0)!important;
}

video {
	max-width: 100%;
	max-height: 100%;
}

.comment-vote {
	display: inline-flex!important;
	width: auto!important;
	float: none!important;
	vertical-align: middle;
}

.comment-button-list {
	display: inline-flex!important;
	float: right!important;
}

.comment-score-text {
	font-size: 0.7rem!important;
}

.comment-vote-arrow::after {
	top: auto!important;
	left: auto!important;
}

.nestedlisting {
	margin-top: 0!important;
}

textarea {
	width: 100%!important;
}

div.child {
	min-height: 0!important;
}

.row {
	width: 100%!important;
	max-width: 100vw!important;
	margin: 0!important;
}

.reddit-search {
	display: inline!important;
	float: right!important;
	margin: 0!important;
	padding: 0!important;
}

#searchexpando {
	display: block;
	width: 100%!important;
	float: right!important;
}

.comment .child,
.comment .showreplies {
	border-left-style: solid!important;
	border-left-color: #808080!important;
}

.comment.collapsed .tagline,
.comment.collapsed .tagline a,
.comment.collapsed .search-result-meta,
.comment.collapsed .search-result-meta a {
	vertical-align: sub!important;
}

#sr-header-area .drop-choices.srdrop {
	margin: 0!important;
	border: none!important;
}

#sr-header-area {
	text-transform: none!important;
}

#search input[type=text] {
	width: 100%!important;
}

.formtabs-content {
	width: unset!important;
	border: none!important;
	padding: 0!important;
}

input[type=text].form-control,
input[type=url].form-control,
textarea.form-control {
	width: 100%!important;
}

.close-comments-page {
	position: relative;
	top: 4px;
}

.panestack-title {
	border-bottom-style: solid!important;
}

.menuarea {
	display: inline!important;
}

body.with-listing-chooser #header .pagename {
	position: unset!important;
	bottom: 20px;
	margin-left: 10px;
}

#mail,
#chat {
	text-indent: unset!important;
	background-image: unset!important;
	vertical-align: unset!important;
	width: unset!important;
	height: unset!important;
	top: 0!important;
	margin: 0!important;
}

#sr-header-area .width-clip,
#header-bottom-right {
	position: relative!important;
}

.tabmenu li {
	margin: 0px!important;
}

.message-count {
	margin: 0!important;
	padding: 0!important;
}
