.side {
	display: none;
}

body,
.content {
	background-color: #302423!important;
	color: #808080!important;
}

body,
.content,
.spacer,
body>.content,
.commentarea {
	margin: 0!important;
	padding: 0!important;
}

.sitetable {
	margin-top: 3em;
}

#header-bottom-left .tabmenu {
	width: 60%;
}

.thing,
.linklisting .even,
.linklisting .even,
.stickied.link,
#ad-frame,
#ad_main,
#ad_main_top.ad300x250,
#images,
#previoussearch #moresearchinfo,
#search,
.account-activity-box,
.commentarea,
.commentarea>.sitetable>.comment,
.commentarea>.usertext,
.comments-page .link,
.comments-page .side .linkinfo,
.linefield,
.login-form-side,
.side .sidecontentbox,
.side .titlebox,
.sponsorshipbox,
.stylesheet-customize-container .pretty-form,
.submit-link .morelink::before,
.submit-page .roundfield,
.wiki-page .wiki-page-content,
[lang^=ns-] .listing-page .content .sitetable::after,
[lang^=ns-] .side .md>table::after,
[lang^=ow-] .listing-page .content .sitetable::after,
[lang^=ow-] .side .md>table::after,
html .comment .child .comment,
.commentarea .comment .comment,
.commentarea .comment .comment .comment,
.commentarea .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .thing.noncollapsed,
.res .commentarea .thing.noncollapsed,
html.res-commentBoxes.res-commentBoxes-rounded .comment.noncollapsed {
	background-color: #0e0100!important;
	padding: 0!important;
	padding-top: 0.5em!important;
	padding-bottom: 0.5em!important;
	margin-top: 0.5em!important;
	margin-bottom: 0.5em!important;
	margin-left: 0!important;
	margin-right: 0!important;
	border: 0px!important;
	border-radius: 0px!important;
}

#header-bottom-left .tabmenu {
	background-color: #0e0100!important;
	color: #812100!important;
	border: 0px!important;
	margin: 0!important;
}

#header {
	background-color: #0e0100!important;
	color: #812100!important;
	margin: 0!important;
	padding: 0!important;
	border: 0px!important;
	border-radius: 0px!important;
}

#header::before,
#sr-header-area {
	background-color: #0e0100!important;
	color: #812100!important;
	border: 0px!important;
}

li,
a,
a.choice,
.entry .flat-list li a,
.tagline a,
.search-result-meta a,
#sr-more-link,
.tabmenu li a,
.entry .flat-list .redditSingleClick,
.tagline a,
.search-result-meta a,
#sr-more-link,
.tabmenu li a,
.rank,
.entry .flat-list .redditSingleClick:visited,
.entry .flat-list li a:visited,
.thing .title:visited,
.link .score {
	background-color: transparent!important;
	color: #6d6d6d!important;
	border: 0px!important;
	text-decoration: none!important;
}

li:hover,
a:hover,
a.choice:hover,
.entry .flat-list li a:hover,
.tagline a:hover,
.search-result-meta a:hover,
#sr-more-link:hover,
.tabmenu li a:hover,
.entry .flat-list .redditSingleClick:hover,
.tagline a:hover,
.search-result-meta a:hover,
#sr-more-link:hover,
.tabmenu li a:hover,
body .content .sitetable .link .title a:hover,
.link .entry .tagline a:hover,
body .content .sitetable .link .title a:hover,
.link .score.likes,
.link .score.dislikes {
	background-color: transparent!important;
	color: #812100!important;
	border: 0px!important;
	text-decoration: none!important;
}

.link .flat-list,
p.tagline {
	display: inline!important;
}

.stamp {
	vertical-align: super!important;
}

.thumbnail-div {
	text-align: center;
}

.link .flat-list {
	vertical-align: text-top!important;
}

.rank {
	font-size: 20px!important;
	margin-top: 14px!important;
}

.md,
.comment .usertext .md,
p,
.tagline .stickied-tagline,
.search-result-meta .stickied-tagline,
.dropdown.srdrop .selected {
	color: #808080!important;
}

.thing .title,
.flair {
	color: #812100;
}

.buttons .comments.empty {
	animation: none;
}

#header-bottom-right,
#sr-more-link {
	display: none!important;
}

@-webkit-keyframes autofill {
	to {
		color: #812100;
		background: transparent;
	}
}

.form-control:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

.form-control,
.form-control:focus {
	text-align: center!important;
	background-color: transparent!important;
	color: #808080!important;
	border: none !important;
	box-shadow: none!important;
}

.btn-login {
	color: #812100!important;
	background-color: transparent!important;
	border-color: #812100!important;
}

.btn-login:hover {
	color: #0e0100!important;
	background-color: transparent!important;
	border-color: #0e0100!important;
}

::placeholder {
	color: #812100!important;
}

.post-sharing,
.subreddit .usertext .md {
	background-color: #0e0100!important;
	color: #808080!important;
}

.arrow {
	display: block!important;
}

.arrow.up,
.arrow.down {
	background-image: none!important;
	background-color: transparent!important;
	color: #6d6d6d!important;
	border: 0px!important;
}

.arrow.up:hover,
.arrow.upmod,
.arrow.down:hover,
.arrow.downmod {
	background-image: none!important;
	background-color: transparent!important;
	color: #812100!important;
	border: 0px!important;
}

.arrow.up::after,
.arrow.upmod::after {
	content: 'keyboard_arrow_up'!important;
	position: relative;
	top: -4px;
	left: -5px;
}

.arrow.down::after,
.arrow.downmod::after {
	content: 'keyboard_arrow_down'!important;
	position: relative;
	top: -4px;
	left: -5px;
}

body>.content>.spacer:nth-of-type(1) {
	display: block!important;
}

.entry::before {
	display: none;
}

.thumbnail {
	margin: 0!important;
	padding: 0!important;
}

.hidepost-button,
.report-button,
.crosspost-button {
	display: none!important;
}

/*
.midcol {
	border-left: 1px solid white;
}

.entry {
	border-right: 1px solid white;
}
*/
