/*
bg: #302423
text: #808080
*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
	::-webkit-scrollbar {
		display: none!important;
	}
}

.rank,
.searchpane,
.side,
.expando-button,
#header-img,
#chat-app,
.c-close,
.post-sharing-label,
#sr-more-link,
.hidepost-button,
.entry::before {
	display: none!important;
}

body,
.content,
.drop-choices {
	background-color: #302423!important;
	color: #808080!important;
}

.tabmenu li,
#mail,
#chat,
.expando,
.panestack-title,
input[type=text],
input[type=url] {
	margin: 0!important;
}

.arrow,
.tagline-div,
.thumbnail,
.vote,
.comment-score-text {
	padding: 0!important;
}

body,
.content,
.spacer,
body>.content,
.commentarea,
.commentarea>.usertext,
.usertext-body,
.comment-vote .title,
.entry,
.rank,
.top-matter,
.flat-list,
.child,
.clear-left,
.title-div,
.list-div,
.subject-div,
.parent-div,
.parent,
#header,
#siteTable,
.thumbnail,
.reddit-search,
.full-res-content,
.full-res-img,
.link .usertext-body .md {
	margin: 0!important;
	padding: 0!important;
}

.message-count,
#siteTable_organic,
.menuarea,
#sr-header-area .drop-choices.srdrop {
	margin: 0!important;
	padding: 0!important;
	border: none!important;
}

.sitetable {
	margin-top: 3em;
	padding-right: 0!important;
}

#header-bottom-left .tabmenu {
	width: fit-content!important;
	vertical-align: sub!important;
}

.thing,
.linklisting .odd,
.stickied.link,
#ad-frame,
#ad_main,
#ad_main_top.ad300x250,
#images,
#previoussearch #moresearchinfo,
.account-activity-box,
.commentarea,
.commentarea>.sitetable>.qaru.comment,
.commentarea>.usertext,
.comments-page .link,
.comments-page .side .linkinfo,
.linefield,
.login-form-side,
.side .sidecontentbox,
.side .titlebox,
.sponsorshipbox,
.stylesheet-customize-container .pretty-form,
.submit-link .morelink::before,
.submit-page .roundfield,
.wiki-page .wiki-page-content,
[lang^=ns-] .listing-page .content .sitetable::after,
[lang^=ns-] .side .md>table::after,
[lang^=ow-] .listing-page .content .sitetable::after,
[lang^=ow-] .side .md>table::after,
html .qaru.comment .child .qaru.comment,
.commentarea .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment .qaru.comment,
.commentarea .thing.noncollapsed,
.res .commentarea .thing.noncollapsed,
html.res-commentBoxes.res-commentBoxes-rounded .comment.noncollapsed {
	background-color: #0e0100!important;
	padding: 0!important;
	margin-top: 0.5em!important;
	margin-bottom: 0.5em!important;
	margin-left: 0!important;
	margin-right: 0!important;
	border: 0px!important;
	border-radius: 0px!important;
}

.promoted {
	margin-bottom: 0!important;
}

#header-bottom-left .tabmenu,
#header-bottom-right {
	background-color: #0e0100!important;
	color: #812100!important;
	border: 0px!important;
	margin: 0!important;
}

#header {
	background-color: #0e0100!important;
	color: #812100!important;
	border: 0px!important;
	border-radius: 0px!important;
}

#header::before,
#sr-header-area {
	background-color: #0e0100!important;
	color: #812100!important;
	border: 0px!important;
}

li,
a,
a.choice,
.entry .flat-list li a,
.tagline a,
.search-result-meta a,
#sr-more-link,
.tabmenu li a,
.entry .flat-list .redditSingleClick,
.tagline a,
.search-result-meta a,
#sr-more-link,
.tabmenu li a,
.rank,
.entry .flat-list .redditSingleClick:visited,
.entry .flat-list li a:visited,
.thing .title:visited,
.link .score {
	background-color: transparent!important;
	color: #6d6d6d!important;
	border: 0px!important;
	text-decoration: none!important;
}

li:hover,
a:hover,
a.choice:hover,
.entry .flat-list li a:hover,
.tagline a:hover,
.search-result-meta a:hover,
#sr-more-link:hover,
.tabmenu li a:hover,
.entry .flat-list .redditSingleClick:hover,
.tagline a:hover,
.search-result-meta a:hover,
#sr-more-link:hover,
.tabmenu li a:hover,
body .content .sitetable .link .title a:hover,
.link .entry .tagline a:hover,
body .content .sitetable .link .title a:hover,
.link .score.likes,
.link .score.dislikes,
.selected:hover {
	background-color: transparent!important;
	color: #812100!important;
	border: 0px!important;
	text-decoration: none!important;
}

.menuarea,
.link .flat-list,
p.tagline {
	display: inline!important;
}

.stamp {
	vertical-align: super!important;
}

.thumbnail-div {
	text-align: center;
}

.link .flat-list {
	vertical-align: text-top!important;
}

.rank {
	font-size: 20px!important;
	margin-top: 14px!important;
}

.md,
.qaru.comment .usertext .md,
p,
.tagline .stickied-tagline,
.search-result-meta .stickied-tagline,
.dropdown.srdrop .selected,
.spoiler-stamp {
	color: #808080!important;
}

.link .usertext-body .md,
.report-modal .report-reason-item .report-reason-display {
	background-color: #0e0100!important;
	color: #808080!important;
	border: none!important;
}

.thing .title,
.flair {
	color: #812100;
}

.buttons .comments.empty {
	animation: none;
}

.post-sharing {
	border: none !important;
}

@-webkit-keyframes autofill {
	to {
		color: #812100;
		background: transparent;
	}
}


/*
.form-control.login:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

.form-control.login,
.form-control.login:focus {
	text-align: center!important;
	background-color: transparent!important;
	color: #808080!important;
	border: none !important;
	box-shadow: none!important;
}
*/

.btn-login {
	color: #812100!important;
	background-color: transparent!important;
	border-color: #812100!important;
}

.btn-login:hover {
	color: #0e0100!important;
	background-color: transparent!important;
	border-color: #0e0100!important;
}

::placeholder {
	color: #812100!important;
}

.post-sharing,
.subreddit .usertext .md {
	background-color: #0e0100!important;
	color: #808080!important;
}

.arrow {
	display: block!important;
}

.arrow.up,
.arrow.down {
	background-image: none!important;
	background-color: transparent!important;
	color: #6d6d6d!important;
	border: 0px!important;
}

.arrow.up:hover,
.arrow.upmod,
.arrow.down:hover,
.arrow.downmod {
	background-image: none!important;
	background-color: transparent!important;
	color: #812100!important;
	border: 0px!important;
}

.arrow.up::after,
.arrow.upmod::after {
	content: 'keyboard_arrow_up'!important;
	position: relative;
	top: -4px;
	left: -5px;
}

.arrow.down::after,
.arrow.downmod::after {
	content: 'keyboard_arrow_down'!important;
	position: relative;
	top: -4px;
	left: -5px;
}

body>.content>.spacer:nth-of-type(1) {
	display: block!important;
}

.title-div {
	padding-top: 6px;
}

iframe {
	border: none;
	width: 100%;
	height: 80vh;
}

.md-8 {
	font-size: 16px!important;
}

.modal.fade .modal-dialog {
	transform: translate(0, 0)!important;
}

video {
	max-width: 100%;
	max-height: 100%;
}

.comment-vote {
	display: inline-flex!important;
	width: auto!important;
	float: none!important;
	vertical-align: middle;
}

.comment-button-list {
	display: inline-flex!important;
	float: right!important;
}

.comment-score-text {
	font-size: 0.7rem!important;
}

.comment-vote-arrow::after {
	top: auto!important;
	left: auto!important;
}

.nestedlisting {
	margin-top: 0!important;
}

div.child {
	min-height: 0!important;
}

.row {
	width: 100%!important;
	max-width: 100vw!important;
	margin-left: 0!important;
	margin-right: 0!important;
}

.reddit-search {
	display: inline!important;
	float: right!important;
}

#searchexpando {
	display: block;
	width: 100%!important;
	float: right!important;
}

.qaru.comment .child,
.qaru.comment .showreplies,
.res-commentBoxes .qaru.comment div.child {
	border-left-width: 1px!important;
	border-left-style: solid!important;
	border-left-color: #808080!important;
}

.comment.collapsed .tagline,
.comment.collapsed .tagline a,
.comment.collapsed .search-result-meta,
.comment.collapsed .search-result-meta a {
	vertical-align: sub!important;
}

#sr-header-area {
	text-transform: none!important;
}

.formtabs-content {
	width: unset!important;
	border: none!important;
	padding: 0!important;
}

textarea,
input[type=text].form-control,
input[type=url].form-control,
textarea.form-control,
#search input[type=text] {
	width: 100%!important;
}

#qaru-close-comments-page,
#qaru-comments-page-show-content {
	position: relative;
	top: 4px;
}

.panestack-title {
	border-bottom-style: solid!important;
}

body.with-listing-chooser #header .pagename {
	position: unset!important;
	bottom: 20px;
	margin-left: 10px;
}

#mail,
#chat {
	text-indent: unset!important;
	background-image: unset!important;
	vertical-align: unset!important;
	width: unset!important;
	height: unset!important;
	top: 0!important;
}

#sr-header-area .width-clip,
#header-bottom-right {
	position: relative!important;
}

.menuarea {
	font-size: inherit!important;
}

p.subject {
	width: fit-content!important;
}

input,
textarea,
button,
button.btn,
select,
input::placeholder,
textarea::placeholder {
	color: #808080!important;
	background-color: #0e0100!important;
	border-color: #808080!important;
}

input:focus,
textarea:focus,
button:hover,
button.btn:hover,
input.btn:hover {
	color: #808080!important;
	border-color: #812100!important;
	box-shadow: 0 0 0 0.2rem rgba(129, 33, 0, .25)!important;
}

#newlink-with-image-upload .image-upload-drop-target {
	border-color: #808080!important;
	background-color: unset!important;
}

.flip-x {
	transform: rotateX(180deg);
}

.flip-y {
	transform: rotateY(180deg);
}


/*BETA*/

.message.recipient>.entry {
	color: inherit!important;
}

.message.new>.entry {
	background-color: inherit!important;
	border: none!important;
	padding: inherit!important;
}


/*RES*/

.qaru.entry.res-selected,
.qaru.entry.RES-keyNav-activeElement.res-selected,
.qaru.entry.res-selected .qaru.md-container,
.res-nightmode .qaru.entry.res-selected,
.res-nightmode .qaru.entry.res-selected .qaru.md-container {
	background-color: inherit!important;
}

.res-nightmode .qaru.entry.res-selected>.tagline,
.res-nightmode .qaru.entry.res-selected .md-container>.md,
.res-nightmode .qaru.entry.res-selected .md-container>.md p {
	color: inherit!important;
}

.thing.link .redditSingleClick::after,
.gearIcon::after {
	content: ""!important;
}

.res-navTop #header-bottom-right {
	top: unset!important;
}

.res-freetext-expando,
#RESShortcutsViewport,
#RESShortcuts,
.srLeftContainer,
#NREFloat,
.res-commentNavToggle,
#REScommentSubToggle,
.qaru.RESUserTag,
.qaru#RESShortcutsEditContainer,
.qaru.res-tabmenu-button,
.qaru.res-show-images {
	display: none!important;
}
